.header{

display: flex;
justify-content: space-between;
align-items: center;
padding-left: 100px;
padding-right: 100px;
margin-bottom: 10px;

}

.imagelogo{

    width: 100px;

}

.options{

font-size: 35px;

}

.welcome{
    height: 50px;
    background-image: url("../Images/landing.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.hello1{
    margin-bottom: 10px;
    color:#10cab7;
    font-size: 60px;
    font-weight: bold;
    
}