.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }

  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }


.header{

display: flex;
justify-content: space-between;
align-items: center;
padding-left: 100px;
padding-right: 100px;
margin-bottom: 10px;

}

.imagelogo{

    width: 100px;

}

.options{

font-size: 35px;

}

.welcome{
    height: 580px;
    background-image: url("../Images/landing.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.hello1{
    margin-bottom: 10px;
    color:#10cab7;
    font-size: 60px;
    font-weight: bold;
    
}

.features{

    background-color: #eee;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.features .container{

    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 100px;
}

.IdeaIcone{

    color:#10cab7;
    font-size: 35px;

}

.hIdea{

    font-weight: bold;
    padding-bottom: 10px;

}

.WorkIcone{

    color:#10cab7;
    font-size: 35px;
}

.hWork{

    font-weight: bold;
    padding-bottom: 10px;
}

.WorldwideIcone{

    color:#10cab7;
    font-size: 35px;
}

.hWorldwide{

    font-weight: bold;
    padding-bottom: 10px;
}

.container .p{

    color: #777;

}

.servictitle .h1{

  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #ebeced;
  letter-spacing: -2px;

}

.servictitle .p{

  color: #797979;
  text-align: center;
  position: relative;
  bottom: 95px;
  font-size: 20px;

}